<div class="panel">
	<div class="panel-heading">
		<h4>Liste des tâches</h4>
	</div>
	<div *ngIf="tasks; else elseBlock" class="panel-body">
		<div class="row">
			<div class="col-md-5">
				<h5>Titre</h5>
			</div>
			<div class="col-md-5">
				<h5>Resp</h5>
			</div>
		</div>
		<div *ngFor="let task of tasks" class="row">
			<div class="col-sm-5">
				{{task.name}}
			</div>
			<div class="col-sm-5">
				{{task.idOrga}}
			</div>
			<a href="/tasks/{{task.idTask}}"><i class="far fa-eye fa-lg"></i></a>
		</div>
	</div>
	<ng-template #elseBlock><div class="panel-body">No Tasks to show</div></ng-template>
</div>