<div>
	<ul class="nav nav-pills nav-stacked">
		<li role="navigation">
			<a id="navlink" href="/dashboard"><i class="fas fa-home"></i> Accueil</a>
		</li>
		<li role="navigation">
			<a id="navlink" href="/calendar"><i class="fas fa-calendar"></i> Calendrier</a>
		</li>
		<li role="navigation">
			<a id="navlink" href="/tasks"><i class="fas fa-clipboard-list"></i> Tâches</a>
		</li>
		<li role="navigation">
			<a id="navlink"><i class="fas fa-user"></i> Membres</a>
		</li>
		<li role="presentation">
			<a id="navlink"><i class="fas fa-cog"></i> Settings</a>
		</li>
	</ul>
</div>
