<div class="panel">
	<div class="panel-heading">
		<h4 *ngIf="!create; else elseTitleBlock">Détails orga n°{{orga.idOrga}}</h4>
		<ng-template #elseTitleBlock><h4>Nouvel orga</h4></ng-template>
	</div>
	<div class="panel-body">
		<form (ngSubmit)="onSubmit()" #orgaForm="ngForm">
			<div class="col-md-6 form-group">
				<label for="lastName">Nom</label>
				<input type="text" class="form-control" id="lastName" [(ngModel)]="orga.last_name" name="lastName" [disabled]="!update" required>
			</div>
			<div class="col-md-6 form-group">
				<label for="firstName">Prénom</label>
				<input class="form-control" id="firstName" name="firstName" [(ngModel)]="orga.first_name" [disabled]="!update" required>
			</div>
			<div class="col-md-6 form-group">
				<label for="mail">Mail</label>
				<input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="orga.mail" [disabled]="!update" required>
			</div>
			<div class="col-md-6 form-group" *ngIf="create">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
			</div>
			<div class="col-md-12 form-group formButtons">
				<button *ngIf="update" type="submit" class="btn btn-success" [disabled]="!orgaForm.form.valid">Submit</button>
			</div>
		</form>
		<div class="col-md-12" *ngIf="!create">
			<h4>Disponibilités</h4>
			<div *ngIf="!shifts">Aucune disponibilité précisée</div>
			<ul class="list-group" name="list-shifts">
				<li *ngFor="let shift of shifts" class="list-group-item"><a href="/shifts/{{shift.idShift}}">{{shift.start_date}} 	- 	{{shift.end_date}}</a> <button class="delete" (click)="deleteShift(shift.idShift)" [hidden]="!update">x</button></li>
			</ul>
			<div class="col-md-6" id="moreShift" *ngIf="update">
				<div class="col-md-12">
					<button class="btn btn-primary" id="addShiftButton" (click)="optionHidden = !optionHidden">Ajouter une disponibilité</button>
				</div>
				<form (ngSubmit)="addShift()" #shiftForm="ngForm" [hidden]="optionHidden">
					<div class="col-md-12 form-group">
						<select class="form-control shiftSelection" id="idShiftAdd" name="idShiftAdd" [(ngModel)]="addedShift" multiple>
							<option *ngFor="let shift of allShifts; let i = index" [value]="shift.idShift">{{shift.strat_date}} {{shift.end_date}}</option>
						</select>
					</div>
					<div class="col-md-12 form-group">
						<button class="btn btn-success" type="submit" [disabled]="!shiftForm.form.valid">Submit</button>
					</div>
				</form>
				<script>
					$(document).ready(function() {
						$(".shiftSelection").select2({
							minimumSelectionLength: 1,
							placeholder: "Sélectionner un ou plusieurs"
						});
					});
				</script>
			</div>
		</div>
		<div class="col-md-12 fromButtons">
			<button class="btn btn-danger btn-lg" (click)="deleteOrga()">Supprimer</button>
		</div>
	</div>
</div>