<div class="holder">
  <div>
    <span class="title">ORGANIFY</span><br>
    <span class="subtitle">Welcome back, please login into your account</span>
  </div>
  <div class="input">
    <input type="text" #mail placeholder="Mail" id="mail"><br>
    <input type="password" #pwd placeholder="Password" id="pwd">
  </div>
  <div class="password">
    <input type="checkbox"><span class="rememberMe">Remember me</span>
    <span class="forgetPassword">Forgot password</span>
  </div>
  <div class="buttons">
	<input type="button" class="loginButton" value="Login" (click)="login(mail.value, pwd.value)">
	<input type="button" class="signInButton" value="Sign in">
  </div>
</div>
